@use "@angular/material" as mat;

@include mat.core();

$emmanuel_insurance-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($emmanuel_insurance-theme);
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: 'Benton-Sans-Bold';
  src: url('assets/fonts/Benton_Sans/bentonsansbold/BentonSans\ Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Benton-Sans-Regular';
  src: url('assets/fonts/Benton_Sans/bentonsansregular/BentonSans\ Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Benton-Sans-Medium';
  src: url('assets/fonts/Benton_Sans/bentonsansmedium/BentonSans\ Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-in-out forwards;
}
